:root {
    --primary: rgb(0, 68, 255);
    --secondary: rgb(183, 0, 255);
    --dark: black;
    --light: white;
}

#grad {
    background-image: linear-gradient(to right,var(--secondary),var(--primary));
}

*{
    margin: 0;
    padding: 0;
}

.margin {
    margin: 10%;
}

.head-center{
    text-align: center;
}

body{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    min-height: 100vh;
}

.card{
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
}

.insidecard{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card:hover .insidecard {
    transform: rotateY(180deg);
  }

.font h1{
    
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.facing.is-flipped{
    transform: rotateY(180deg);
}

.facing{
    position:absolute;
    width:100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgb(70, 7, 7);
}

.frontFacing{
    background-image:  linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    background-color: linear-gradient (to top right, pink,orange);
}
.frontFacing h2{
     color: white;
     font-size: 32px;
}

.backFacing{
    background-color: var(--light);
    transform:rotateY(180deg);
}

.card-content{
    width: 100%;
    height: 100%;
}

.card-head{
    position:relative;
    padding: 30px 30px 40px;
}

.card-head:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
}

.image-style{
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #fff;
    object-fit: cover;
}

.card-head h2{
    color: white;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card-body {
    padding: 30px;
}

.card-body h3{
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card-body p{
    color: var(--dark);
    font-size: 18px;
    line-height: 1.5;
}

.multicolortext {
        background-image: linear-gradient(to left, violet, indigo, rgb(104, 223, 104), blue, yellow, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}